:root {
    --primary-color: #fff;
    --secondary-color: #1b4554;
    --accent1-color: #222;
    --accent2-color: #E3DAC9;
    --button1-color: #034732;
    --button2-color: #E3DAC9;
}

body {
    font-family: "Newsreader", serif;
}

header {
    font-family: "Goblin One", serif;
}

h1 {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 1rem;
    border: 1px solid var(--accent1-color);
    text-align: center;
}

header span {
    display: block;
}

nav {
    background-color: var(--button1-color);

}

nav ul {
    list-style: none;
}

nav a {
    display: block;
    text-align: center;
    color: var(--button2-color);
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

@media (min-width: 640px) {
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 0 auto;
    }
}