:root {
    --primary-color: #fff;
    --secondary-color: #1b4554;
    --accent1-color: #222;
    --accent2-color: #E3DAC9;
    --button1-color: #034732;
    --button2-color: #E3DAC9;
}

body {
    font-family: "Newsreader", serif;
}

header {
    font-family: "Goblin One", serif;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    display: grid;
    grid-gap: 1rem;
    border: 1px solid var(--accent1-color);
    text-align: center;
    font-size: larger;
}

header, main {
    margin: 0 auto;
}

main {
    max-width: 870px;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 25px;
    place-items: center;
}

h1 {
    font-size: 2rem;
}

nav {
    background-color: var(--button1-color);
    border: 1px solid var(--accent1-color);
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav a {
    display: block;
    color: var(--button2-color);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: large;
}

nav a:hover {
    text-decoration: underline;
    background-color: var(--button2-color);
    color: var(--button1-color);
}

footer {
    margin: auto;
    padding: 1rem;
    text-align: center;
}
