@media screen and (min-width: 700px) {
    nav ul {
        flex-direction: row;
    }

    main {
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    }

    h1 {
        grid-column: 1/4;
    }

    figure {
        width: 100%;
    }

    img {
        width: 100%;
    }

    #menu {
        display: none;
    }

    .navigation li{
        display: block;
    }
}